html, body{
    overflow-x: hidden;
}

.list{
    text-align: center;
}

.legend_name{
    font-family: 'Nunito', sans-serif;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.legend_title{
    visibility: hidden;
}

.legendPic{
    width: 200px;
    height: auto;
    overflow: hidden;
    transition: transform .2s;
}

.legendPic:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.legendRadio{
    display: none
}

#box{
    font: 18px/1.5 'Nunito', sans-serif;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    display: none;
}

#guide{
    margin-top: 15px;
    margin-left: -5%;
    background: #DDDDDD;
    width: 110%;
    height: 120%;
}

#legend{
    display: none;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
